
.fevermap-landing-content {
  margin: 1rem 20% 10%;
  height: 100%;
}

.participant-count-subtitle {
  margin: 2rem 0 0 0;
  color: #FF9800;
}

@media only screen and (max-width: 780px) {

  .fevermap-landing-content {
    margin: 1rem 5%;
  }
}